@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: 'VT323', monospace;
}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /*border: 2px solid red;*/
}

.inner{
    display: flex;
    flex-direction: column;
    flex-basis: 1400px;
    align-items: center;
    /*margin: 0 10px;*/
    padding: 0 35px;
    /*border: 2px solid deepskyblue;*/
}

nav{
    width: 100%;
    /*border: 2px solid greenyellow;*/

}

.logo-img{
    height: 80px;
    margin: 15px 0;
}

.smartphone-box{
    display: flex;
    /*border: 2px solid rosybrown;*/

    flex-basis: 650px;
    background-image: url("assets/smartphone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.injectie{
    max-width: 500px;
    padding: 70px 50px;
    /*border: 2px solid yellow;*/
}

body{
    min-width: 100vh;
}

.injectie-1{
    /*display: none;*/
    color: green;
}

.injectie-2{
    /*display: none;*/
    color: blue;
}

.injectie-3{
    /*display: none;*/
    color: red;
}

footer{
    margin: 15px 0;
}